<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<div class="row">
    <div class="columns">
        <div class="column is-5">
            <article class="panel is-danger">
                <p class="panel-heading">
                    Item Stock
                </p>
                <br>
                <div class="panel-block">
                    <div class="column ">
                        <p class="control has-icons-left">
                            <input class="input is-info" type="search"
                                placeholder="Search {{searchItemByName? 'Item By Name':'Item By Company'}}"
                                [(ngModel)]=searchField>
                            <span class="icon is-left">
                                <i class="ri-search-2-line" aria-hidden="true"></i>
                            </span>
                        </p>
                    </div>
                    <div class="column ">
                        <div class="columns">
                            <div class="column">
                                <div class="dropdown is-hoverable ">
                                    <div class="dropdown-trigger">
                                        <button class="button" aria-haspopup="true">
                                            <span>Search By </span>
                                            <span class="icon is-small">
                                                <i class="ri-arrow-drop-down-line" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu " id="dropdown-menu" role="menu">
                                        <div class="dropdown-content" style="width: fit-content;">
                                            <div class="dropdown-item">
                                                <a (click)="searchBy(1)">Item's Name</a>
                                            </div>
                                            <div class="dropdown-item">
                                                <a (click)="searchBy(2)">Item's Company</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            <div class="column">
                                <div class="dropdown is-hoverable is-warning">
                                    <div class="dropdown-trigger">
                                        <button class="button is-danger" aria-haspopup="true">
                                            <span>Add New Stock</span>
                                            <span class="icon is-small">
                                                <i class="ri-arrow-drop-down-line" aria-hidden="true"></i>
                                            </span>
                                        </button>
                                    </div>
                                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                        <div class="dropdown-content" style="width: fit-content;">
                                            <div class="dropdown-item">
                                                <a (click)="addItemStock()">Add Item To Stock</a>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel-block" *ngIf="searchItemByName">
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Item's Name</th>
                                <th>Price Per Piece</th>
                                <th>Stock Left</th>
                                <th>Item's Company</th>
                                <th>Modify Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Item of items | filter:searchField:1" style="cursor: copy;"
                                (click)="addItemToReceipt(Item.key)" > 
                                <td>{{Item.key}} </td>
                                <td>{{Item.value.pricePerPiece}}</td>
                                <td>{{Item.value.stockLeft}}</td>
                                <td>{{Item.value.company}}</td>
                                <td><button class="button" style="pointer-events: auto;" (click)="modifyItem(Item.key)">Modify</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="panel-block" *ngIf="searchItemByCompany">
                    <table class="table is-hoverable is-fullwidth">
                        <thead>
                            <tr>
                                <th>Item's Name</th>
                                <th>Price Per Piece</th>
                                <th>Stock Left</th>
                                <th>Item's Company</th>
                                <th>Modify Stock</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let Item of items |filter : searchField :2" style="cursor: copy;"
                                (click)="addItemToReceipt(Item.key)" > 
                                <td>{{Item.key}}</td>
                                <td>{{Item.value.pricePerPiece}}</td>
                                <td>{{Item.value.stockLeft}}</td>
                                <td>{{Item.value.company}}</td>
                                <td><button class="button" style="pointer-events: auto;" (click)="modifyItem(Item.key)">Modify</button></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </article>
        </div>
        <div class="column is-7">
            <app-receipt></app-receipt>

        </div>
    </div>
</div>


<div class="modal" [ngClass]="{ 'is-active' : isModalActive }">
    <div class="modal-background" (click)="toggleModal()"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Edit {{editFormString!=''?editFormString:'Item'}} Details</p>
            <button class="delete" aria-label="close" (click)="toggleModal()"></button>
        </header>
        <section class="modal-card-body">
            <form [formGroup]="itemForm" (ngSubmit)="onSubmitItemForm()">
               
                <div class="rows" >
                    <div class="row" *ngIf="editFormString==''">
                        <label>
                            Items Name:
                            <input class="input" type="text" formControlName="name">
                        </label>
                        <div class="help is-danger" *ngIf="name.invalid && (name.touched||name.dirty)">
                            <div *ngIf="name.errors.required">
                                Item's name is required
                            </div>
                        </div>
                    </div>
                    <div class="row"><label>
                            Items price Per Piece:
                            <input class="input" type="number" formControlName="pricePerPiece">
                        </label>
                        <div class="help is-danger"
                            *ngIf="pricePerPiece.invalid && (pricePerPiece.touched||pricePerPiece.dirty)">
                            <div *ngIf="pricePerPiece.errors.required">
                                Item's Price Per Piece is required
                            </div>

                            <div *ngIf="pricePerPiece.errors.min">
                                Price Should be above zero
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <label>
                            Items Company:
                            <input class="input" type="text" formControlName="company">
                        </label>
                    </div>

                    <div class="row">
                        <label>
                            Stock Left:
                            <input class="input" type="number" formControlName="stockLeft">
                        </label>
                        <div class="help is-danger" *ngIf="stockLeft.invalid && (stockLeft.touched||stockLeft.dirty)">
                            <div *ngIf="stockLeft.errors.required">
                                Item's Price Per Piece is required
                            </div>

                            <div *ngIf="stockLeft.errors.min">
                                Stock Left must be positive
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </section>
        <footer class="modal-card-foot">
            <button class="button is-success" [disabled]=!itemForm.valid type="submit"
                (click)="onSubmitItemForm()">Save Details</button>
            <button class="button" (click)="toggleModal()">Cancel</button>
        </footer>
    </div>
</div>